@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');

/* resets */

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    border: 1px solid black;
    font-family: 'Stick No Bills';
}

html, body {
    height: 100%;
}

/* generics */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* grid */

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px auto 100px;
    grid-template-areas: 
    "head head aside-2" 
    "aside main aside-2" 
    "aside foot foot"
    ;
    height: 100%;
}

.grid__head {
    grid-area: head;
}

.grid__aside {
    grid-area: aside;
}

.grid__main {
    grid-area: main;
}

.grid__aside-2 {
    grid-area: aside-2;
}

.grid__foot {
    grid-area: foot;
}